body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Amiri',;
    background-color: #4c3349;
    margin: 0;
    padding: 25px;
    direction: rtl;
    text-align: right;
    color: #23011f;
}

* {
    box-sizing: border-box;
}

.header {
    position: relative;
    text-align: center;
    padding: 19px;
}

.header h1 {
    margin: 0;
}

.logo {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
}

.pageCont {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 16px;
}

.categories {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px;
    background: #23011f;
    position: sticky;
    top:0;
}

.categories button {
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.cat {
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: #e8d3b6;
}

.seasonal { background: #a90493; }
.hot      { background: #23011f; }
.cold     { background: #23011f; }
.waffle   { background: #23011f; }
.carnuts  { background: #23011f; }
.pastry   { background: #23011f; }
.sweets   { background: #23011f; }
.boxes    { background: #23011f; }

.cat.active {
    outline: 2px solid #e8d3b6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.148);
    transform: scale(1.05);
}

.items {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
}

.item {
    display: flex;
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
    gap: 15px;
    background: #e8d3b6;
    padding: 10px;
    border-radius: 15px;
    align-items: center;
    cursor: pointer;
}

.item img {
    width: 80px;
    border-radius: 10px;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: #f9e7da64;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #e8d3b6;
    padding: 20px;
    border-radius: 15px;
    width: 80%;
    max-width: 300px;
    text-align: center;
}

.modal-content img {
    width: 100%;
    border-radius: 10px;
}

.close {
    float: left;
    font-size: 24px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .items {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .item {
        width: 45%;
        max-width: 400px;
    }

    .categories {
        justify-content: center;
    }
    
    .logo {
        width: 60px;
    }
}

@media (max-width: 767px) {

    .items {
        flex-direction: column;
        padding: 10px 5px;
    }

    .item {
        flex: 1 1 100%;
        max-width: 100%;
        width: 100%;
    }

    .item img {
        width: 75px;
    }

    .categories {
        gap: 8px;
        padding: 8px;
    }

    .cat {
        font-size: 14px;
        padding: 8px 12px;
    }

    .logo {
        width: 55px;
        right: 10px;
    }

    body {
        padding: 15px;
    }
}